@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

$primary: #66bb6a;
$danger: #ef5350;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fafafa;
}

body {
  background-color: #000;
}

.button {
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  height: fit-content;
  width: fit-content;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.primary-btn {
  background-color: $primary;
  font-weight: 700;
  color: #212121;

  &:hover {
    background-color: lighten($color: $primary, $amount: 10);
  }
}

.secondary-btn {
  border: solid 1px #fafafa;
}

form {
  border-radius: 6px;
  margin-top: 200px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  background-color: #212121;

  .server-err-message {
    margin-bottom: 20px;
    border: solid 1px $danger;
    border-radius: 6px;
    padding: 10px;
    background-color: rgba($color: $danger, $alpha: 0.2);
  }

  h2 {
    margin-bottom: 40px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
    }

    input {
      display: block;
      border: none;
      border-radius: 6px;
      padding: 10px;
      width: 100%;
      background-color: #424242;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: #616166;
      }

      &:focus {
        box-shadow: 0 0 0 1px #fafafa;
      }
    }

    .form-err-message {
      color: $danger;
    }
  }

  button {
    width: 100% !important;

    &:disabled {
      background-color: #424242;
      color: #616161;
      cursor: default;

      &:hover {
        background-color: #424242;
      }
    }
  }
}
